[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd --name {{ec2_private_dns_name}} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --initial-advertise-peer-urls https://{{ec2_private_ip_address}}:2380 \
  --listen-peer-urls https://{{ec2_private_ip_address}}:2380 \
  --listen-client-urls https://{{ec2_private_ip_address}}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls https://{{ec2_private_ip_address}}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster ip-10-20-1-10.eu-west-1.compute.internal=https://10.20.1.10:2380,ip-10-20-1-11.eu-west-1.compute.internal=https://10.20.1.11:2380,ip-10-20-1-12.eu-west-1.compute.internal=https://10.20.1.12:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target